<div class="change-password-container">
  <h2>Change Password 🔐</h2>

  <input
    type="password"
    placeholder="Old Password"
    [(ngModel)]="oldPassword"
  />

  <input
    type="password"
    placeholder="New Password (min 3 chars)"
    [(ngModel)]="newPassword"
  />

  <input
    type="password"
    placeholder="Confirm New Password"
    [(ngModel)]="confirmPassword"
  />

  <button (click)="changePassword()">Change Password</button>


  <p class="success" *ngIf="success">{{ success }}</p>

  <!-- ❌ ERROR MESSAGE -->
  <p class="error" *ngIf="error">{{ error }}</p>
</div>
